/AccessBattle/bin
/AccessBattle/obj
/AccessBattleWpf/bin
/AccessBattleWpf/obj
/.vs
/*.suo
/AccessBattleServer/obj
/AccessBattleServer/bin
/AccessBattleTests/bin
/AccessBattleTests/obj
/PrototypeCode/*.suo
/PrototypeCode
/AccessBattleServer/*.user
